<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-fluid class="grid gap-5">
    <div>
      <label appCustomLabel label="Nombre" for="name"></label>
      <input pInputText formControlName="name" id="name" placeholder="Nombre del tablero" />
    </div>

    <div>
      <label appCustomLabel label="Descripción" for="description"></label>
      <textarea rows="5" pTextarea formControlName="description" id="description"
        placeholder="Descripción del tablero"></textarea>
    </div>

    <h3>Miembros de equipo:</h3>
    @if (membersTeam().length > 0) {
    <div class="flex flex-wrap gap-2 mb-2">
      @for (memberTeam of membersTeam(); track $index) {
      <p-chip [label]="memberTeam" removable="true" (onRemove)="removeMember(memberTeam)"/>
      }
    </div>
    }
    <team-member-form (memberTeam)="addMember($event)" />

  </p-fluid>
</form>