<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 min-h-full">
    <section class="flex flex-col min-h-full p-5 rounded-md bg-white dark:bg-surface-900 gap-5">
        
    </section>
    <section class="min-h-full p-5 rounded-md bg-white dark:bg-surface-900">
        <board-task />
    </section>
    <section class="min-h-full p-5 rounded-md bg-white dark:bg-surface-900">
        <board-task />
    </section>
    <section class="min-h-full p-5 rounded-md bg-white dark:bg-surface-900">
        <board-task />
    </section>
</div>