<form [formGroup]="membersForm" class="flex flex-col gap-4">
    <p-fluid>
        <p-autoComplete [formControl]="searchCtrl" placeholder="Email o username" dropdownIcon="pi pi-search" [fluid]="true" [suggestions]="userSuggestions" field="email"
            [dropdown]="true" [forceSelection]="true" delay="1000" [lazy]="loading()" (completeMethod)="onSearch($event)"
            (onSelect)="onSelectUser($event.value)">
            <ng-template let-user pTemplate="item">
                <div>
                    <div class="font-bold">{{user.username}}</div>
                    <div class="text-xs text-gray-500">{{user.email}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </p-fluid>

    <div class="h-full">
        <p-table [value]="members.controls" *ngIf="members.length > 0">
            <ng-template pTemplate="header">
                <tr>
                    <th>Usuario</th>
                    <th>Roles</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr [formGroup]="row">
                    <td>
                        <div>
                            <div class="font-bold">{{row.value.user.username}}</div>
                            <div class="text-xs text-gray-500">{{row.value.user.email}}</div>
                        </div>
                    </td>
                    <td>
                        <p-multiSelect formControlName="roles" [options]="roles()" optionLabel="name"
                            [maxSelectedLabels]="2" placeholder="Selecciona roles" [appendTo]="'body'">
                        </p-multiSelect>
                        <div *ngIf="row.get('roles')?.invalid && row.get('roles')?.touched"
                            class="text-red-500 text-xs">
                            Selecciona al menos un rol.
                        </div>
                    </td>
                    <td>
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm"
                            (click)="removeMember(i)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


    </div>

    @if (errorMsg()) {
    <p-message severity="error" [text]="errorMsg()"></p-message>
    }

    <div class="flex justify-end gap-2 mt-4">
        <button pButton type="button" label="Guardar" class="p-button-primary" (click)="onSave()"></button>
    </div>
</form>