<form [formGroup]="form">
    <p-fluid>

        <p-autocomplete  placeholder="Email o nombre de usuario" [suggestions]="suggestions.value()!" [delay]="500"
            optionLabel="email" (completeMethod)="query.set($event.query)" (onSelect)="onSelectUser($event.value)">
            <ng-template let-user #item>
                <div class="flex flex-col justify-center">
                    <small class="text-base ">{{user.username}}</small>
                    <small class="text-sm text-gray-500">{{user.email}}</small>
                </div>
            </ng-template>
        </p-autocomplete>

        @if (user.value) {

        <p-divider />

        <div class="flex flex-col">
            <div class="flex flex-col ">
                <label for="username" class="font-bold">Usuario:</label>
                <input pInputText id="username" [value]="user.value?.username" />
            </div>

            <div class="flex flex-col ">
                <label for="roles" class="font-bold">Roles:</label>
                <p-multiselect [options]="rolesOptions()" placeholder="Select Roles" filter="false" [maxSelectedLabels]="2"
                    (onChange)="roles.setValue($event.value)" styleClass="w-full" />
            </div>
        </div>

        <p-button label="Agregar" icon="pi pi-plus" styleClass="mt-2" />
        }

    </p-fluid>

</form>