<div class="w-11/12 mx-auto shadow-lg">
  <p-toolbar class="">
    <ng-template #start>
      <p class="font-bold text-lg">Tus tableros</p>
    </ng-template>
    <ng-template #center>
      <p-iconfield iconPosition="left">
        <input #searchInput type="text" pInputText placeholder="Search" (keyup)="searchText.set(searchInput.value)" />
      </p-iconfield>
    </ng-template>
    <ng-template #end>
      <p-button label="Nuevo" icon="pi pi-plus" size="small" (click)="showBoardFormDialog()" />
    </ng-template>
  </p-toolbar>
</div>

<p-dialog header="Nuevo tablero" [modal]="true" styleClass="h-auto overflow-auto" [(visible)]="visibleDialogBoardForm"
  [style]="{ width: '25rem' }">
  <board-form (reloadBoards)="getBoards()" />
</p-dialog>

<div class="container mx-auto p-2 mt-5">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
    @for (board of filteredBoards(); track $index) {
    <div
      class="bg-white dark:bg-surface-900 rounded-lg shadow-md p-4 hover:shadow-lg transition-transform transform hover:-translate-y-1">
      <div class="mb-3">
        <h2 class="text-xl font-semibold font-bold text-gray-800 dark:text-gray-100">
          {{ board.name }}
        </h2>
      </div>
      <div class="mb-3">
        <p class="text-gray-600 dark:text-gray-400">{{ board.description }}</p>
      </div>
      <div class="text-right">
        <p-button severity="contrast" label="Ver tablero" [routerLink]="['/projects/boards', board.id]" />
      </div>
    </div>
    }
  </div>
</div>