<div class="flex justify-center items-center gap-5 mt-3">
  <h1 [ngClass]="sidebarService.collapsed() ? 'hidden': 'text-xl font-bold'">Easy Task</h1>
  <p-button (click)="toggleSidebar()" [icon]="icons.BARS" severity="secondary" />
</div>

<p-divider />
<side-items />

<div class="grow flex flex-col gap-2 items-center mb-5">
  <p-divider />
  <div class="flex items-center gap-2">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
    @if (!sidebarService.collapsed()) {
    <span> Profile</span>
    }
  </div>

  <div class="flex items-center justify-center gap-2" [ngClass]="sidebarService.collapsed() ? 'flex-col': ''">
    <p-button size="small" severity="secondary" rounded [icon]="modeIcon()" (click)="toggleDarkMode()" />
    <p-button size="small" severity="secondary" [label]="sidebarService.collapsed() ? '':'logout'"
      [icon]="icons.SIGN_OUT" />
  </div>
</div>